*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.App{
    margin: 2rem 0;
}

.form{
    justify-content: center;
}

.recipe-container{
    align-items: center;
    margin-top: 4rem;
    text-align: center;

    h1{
        font-size: 1.5rem;
    }

    img{
        width: 10rem;
        margin-top: 1rem;
    }
}